.all-tags{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 20px;
    .tag{
        padding: 5px 15px;
        width: fit-content;
        border-radius: 30px;
        border: 1px solid #ececec;
        background-color: #ececec;
    }
    .hide{
        display: none;
    }
    div:first-child{
        background-color: black;
        color: white;
    }
    .tag:hover{
        cursor: pointer;
        // background-color: #d8d8d8;
        // transition: ease-in .5s;
    }
}

@media screen and (max-width:980px) {
    .all-tags{
        .hide{
            display: inline-flex;
        }
    }
   
}