<div class="vid-elt" routerLink="/playVideo/{{cardData?.id.videoId}}">
    <div class="thumbnail">
      <img
        class="thumbnail-img"
        src="{{cardData?.snippet.thumbnails.medium.url}}"
        alt=""
      />
      <div class="bottom-right">33:33</div>
    </div>
    <div class="caption">
      <div class="title">
        <p>{{cardData?.snippet.title}}</p>
      </div>
      <div class="detail">
        <p>211K views . {{cardData?.snippet.publishedAt}}</p>
      </div>
      <div class="channel">
        <img
          class="chn-img"
          src="https://img.freepik.com/free-psd/editable-black-business-logo-psd-embossed-style_53876-123268.jpg?t=st=1648096912~exp=1648097512~hmac=4253f0d944703afc842f0d7521d833b66000e8dd3b66befd6e59e7b6d4d4643b&w=996"
          alt=""
        />
        <p>{{cardData?.snippet.channelTitle}}</p>
      </div>
      <div class="description">
        {{cardData?.snippet.description | slice:0:80}}...
      </div>
    </div>
    <div class="pop-up-btn"><img src="https://charbase.com/images/glyph/10998" alt="">
      <div class="pop-up-menu">
        <app-popup></app-popup>
      </div> 
    </div>
    
   </div>
  
