@import url(../../search.component.scss);
@mixin display-column {
    display: flex;
    flex-direction: column;
  }
  @mixin display-row {
    display: flex;
    flex-direction: row;
  }

.vid-elt{
    @include display-row();
    margin-top: 10px;
    margin-bottom: -2px;
    height: 33vh;
    width: 85vw;
    position: relative;
    &:hover{
        .pop-up-btn{
            display: block;        
        }
    } 
    @media screen and (max-width: 768px){
       height: 100%;
       width: 100%;
       .thumbnail{
           .bottom-right{
               bottom: 10px;
           }
       }
       .caption{
           margin-top: 0;
           .title{
               font-size: 14px;
               order: 1;
               margin-bottom: 5px;
           }
           .description{
               display: none;
           }
           .channel{
               order: 2;
               margin-bottom: 5px;
                img{
                    display: none;
                }
                p{
                   margin-left: 0; 
                }
           }
           .detail{
                order: 3;
                margin-bottom: 5px;
           }
       }
    }
}
.vid-elt:hover{
    cursor: pointer;
}
.thumbnail{
     position: relative;
    .bottom-right {
        position: absolute;
        bottom: 23px;
        right: 8px;
        color: white;
        background-color: #1d1c1c42;
        font-size: 13px;
        background: fixed;
      }
      
      .thumbnail-img{
          
        height: 30vh;
        width: 25vw;
        
    }
    @media screen and (max-width: 768px){
        width: 100%;
        .thumbnail-img{
            height: 100%;
            width: 100%;
        }
    }
    
}


.caption{
    @include display-column();
    justify-content: flex-start;
    margin-top:10px;
    margin-left: 15px;
    height: 23vh;
    @media screen and (max-width: 768px){
        height: 100%;
        width: 100%;
    }
}
.title{
    font-size: 18px;
    margin-bottom: 10px;
}
.detail{
    font-size: 13px;
    color: #606060;
    margin-bottom: 10px;
}

.channel{
    @include display-row();
    margin-bottom: 15px;
    align-items: center;
    p{
        margin-left: 5px;
        font-size: 13px;
        color: #606060;
    }
    .chn-img{
        border-radius:50%;
         object-fit: cover;
        height: 30px;
        width: 30px;
        
    }
}
.channel p:hover{
    cursor: pointer;
    color: #2c2c2c;
}

.description{
    font-size: 13px;
    color: #606060;
}
.pop-up-btn{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    img{
        height: 30px;
    }
} 