<div class="vid-elt" >
    <div class="thumbnail">
      <img
        class="thumbnail-img"
          src="https://img.freepik.com/free-psd/editable-black-business-logo-psd-embossed-style_53876-123268.jpg?t=st=1648096912~exp=1648097512~hmac=4253f0d944703afc842f0d7521d833b66000e8dd3b66befd6e59e7b6d4d4643b&w=996"
          alt=""/>
      
      <div class="bottom-right">33:33</div>
    </div>
    <div class="caption">
      <div class="title">
        <p>Hello</p>
      </div>
      <div class="detail">
        <p> Channel name . 211K views . 3 days ago</p>
      </div>
    
      <div class="description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis ea odit ipsa voluptatem illum, voluptatibus molestias minima quae ullam dolor. Perspiciatis, molestias alias hic cupiditate quo corrupti reiciendis omnis ducimus placeat laudantium deleniti quisquam. 
      </div>
    </div>
    <div class="pop-up-btn"><img src="https://charbase.com/images/glyph/10998" alt="*">
      <div class="pop-up-menu">
        
          <app-explore-pop-list></app-explore-pop-list>
    
      </div> 
    </div>
    
   </div>
   <div class="vid-elt" >
    <div class="thumbnail">
      <img
        class="thumbnail-img"
          src="https://img.freepik.com/free-psd/editable-black-business-logo-psd-embossed-style_53876-123268.jpg?t=st=1648096912~exp=1648097512~hmac=4253f0d944703afc842f0d7521d833b66000e8dd3b66befd6e59e7b6d4d4643b&w=996"
          alt=""/>
      
      <div class="bottom-right">33:33</div>
    </div>
    <div class="caption">
      <div class="title">
        <p>Hello</p>
      </div>
      <div class="detail">
        <p> Channel name . 211K views . 3 days ago</p>
      </div>
    
      <div class="description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis ea odit ipsa voluptatem illum, voluptatibus molestias minima quae ullam dolor. Perspiciatis, molestias alias hic cupiditate quo corrupti reiciendis omnis ducimus placeat laudantium deleniti quisquam. 
      </div>
    </div>
    <div class="pop-up-btn"><img src="https://charbase.com/images/glyph/10998" alt="*">
      <div class="pop-up-menu">
        
          <app-explore-pop-list></app-explore-pop-list>
    
      </div> 
    </div>
    
   </div>
  

   <div class="vid-elt" >
    <div class="thumbnail">
      <img
        class="thumbnail-img"
          src="https://img.freepik.com/free-psd/editable-black-business-logo-psd-embossed-style_53876-123268.jpg?t=st=1648096912~exp=1648097512~hmac=4253f0d944703afc842f0d7521d833b66000e8dd3b66befd6e59e7b6d4d4643b&w=996"
          alt=""/>
      
      <div class="bottom-right">33:33</div>
    </div>
    <div class="caption">
      <div class="title">
        <p>Hello</p>
      </div>
      <div class="detail">
        <p> Channel name . 211K views . 3 days ago</p>
      </div>
    
      <div class="description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis ea odit ipsa voluptatem illum, voluptatibus molestias minima quae ullam dolor. Perspiciatis, molestias alias hic cupiditate quo corrupti reiciendis omnis ducimus placeat laudantium deleniti quisquam. 
      </div>
    </div>
    <div class="pop-up-btn"><img src="https://charbase.com/images/glyph/10998" alt="*">
      <div class="pop-up-menu">
        
          <app-explore-pop-list></app-explore-pop-list>
    
      </div> 
    </div>
    
   </div>
  
   <div class="vid-elt" >
    <div class="thumbnail">
      <img
        class="thumbnail-img"
          src="https://img.freepik.com/free-psd/editable-black-business-logo-psd-embossed-style_53876-123268.jpg?t=st=1648096912~exp=1648097512~hmac=4253f0d944703afc842f0d7521d833b66000e8dd3b66befd6e59e7b6d4d4643b&w=996"
          alt=""/>
      
      <div class="bottom-right">33:33</div>
    </div>
    <div class="caption">
      <div class="title">
        <p>Hello</p>
      </div>
      <div class="detail">
        <p> Channel name . 211K views . 3 days ago</p>
      </div>
    
      <div class="description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis ea odit ipsa voluptatem illum, voluptatibus molestias minima quae ullam dolor. Perspiciatis, molestias alias hic cupiditate quo corrupti reiciendis omnis ducimus placeat laudantium deleniti quisquam. 
      </div>
    </div>
    <div class="pop-up-btn"><img src="https://charbase.com/images/glyph/10998" alt="*">
      <div class="pop-up-menu">
        
          <app-explore-pop-list></app-explore-pop-list>
    
      </div> 
    </div>
    
   </div>
  
   <div class="vid-elt" >
    <div class="thumbnail">
      <img
        class="thumbnail-img"
          src="https://img.freepik.com/free-psd/editable-black-business-logo-psd-embossed-style_53876-123268.jpg?t=st=1648096912~exp=1648097512~hmac=4253f0d944703afc842f0d7521d833b66000e8dd3b66befd6e59e7b6d4d4643b&w=996"
          alt=""/>
      
      <div class="bottom-right">33:33</div>
    </div>
    <div class="caption">
      <div class="title">
        <p>Hello</p>
      </div>
      <div class="detail">
        <p> Channel name . 211K views . 3 days ago</p>
      </div>
    
      <div class="description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis ea odit ipsa voluptatem illum, voluptatibus molestias minima quae ullam dolor. Perspiciatis, molestias alias hic cupiditate quo corrupti reiciendis omnis ducimus placeat laudantium deleniti quisquam. 
      </div>
    </div>
    <div class="pop-up-btn"><img src="https://charbase.com/images/glyph/10998" alt="*">
      <div class="pop-up-menu">
        
          <app-explore-pop-list></app-explore-pop-list>
    
      </div> 
    </div>
    
   </div>
  
   <div class="vid-elt" >
    <div class="thumbnail">
      <img
        class="thumbnail-img"
          src="https://img.freepik.com/free-psd/editable-black-business-logo-psd-embossed-style_53876-123268.jpg?t=st=1648096912~exp=1648097512~hmac=4253f0d944703afc842f0d7521d833b66000e8dd3b66befd6e59e7b6d4d4643b&w=996"
          alt=""/>
      
      <div class="bottom-right">33:33</div>
    </div>
    <div class="caption">
      <div class="title">
        <p>Hello</p>
      </div>
      <div class="detail">
        <p> Channel name . 211K views . 3 days ago</p>
      </div>
    
      <div class="description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis ea odit ipsa voluptatem illum, voluptatibus molestias minima quae ullam dolor. Perspiciatis, molestias alias hic cupiditate quo corrupti reiciendis omnis ducimus placeat laudantium deleniti quisquam. 
      </div>
    </div>
    <div class="pop-up-btn"><img src="https://charbase.com/images/glyph/10998" alt="*">
      <div class="pop-up-menu">
        
          <app-explore-pop-list></app-explore-pop-list>
    
      </div> 
    </div>
    
   </div>
  
   <div class="vid-elt" >
    <div class="thumbnail">
      <img
        class="thumbnail-img"
          src="https://img.freepik.com/free-psd/editable-black-business-logo-psd-embossed-style_53876-123268.jpg?t=st=1648096912~exp=1648097512~hmac=4253f0d944703afc842f0d7521d833b66000e8dd3b66befd6e59e7b6d4d4643b&w=996"
          alt=""/>
      
      <div class="bottom-right">33:33</div>
    </div>
    <div class="caption">
      <div class="title">
        <p>Hello</p>
      </div>
      <div class="detail">
        <p> Channel name . 211K views . 3 days ago</p>
      </div>
    
      <div class="description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis ea odit ipsa voluptatem illum, voluptatibus molestias minima quae ullam dolor. Perspiciatis, molestias alias hic cupiditate quo corrupti reiciendis omnis ducimus placeat laudantium deleniti quisquam. 
      </div>
    </div>
    <div class="pop-up-btn"><img src="https://charbase.com/images/glyph/10998" alt="*">
      <div class="pop-up-menu">
        
          <app-explore-pop-list></app-explore-pop-list>
    
      </div> 
    </div>
    
   </div>
  

  
