.comment{
    display: flex;
    font-size: 14px;
    font-weight: 400;
    margin-top: 30px;
    width: 100%;
    justify-content: space-between;
    img{
        width:40px;
        height: 40px;
        border-radius: 100%;
    }
    .comment-wrap{
        display: flex;
    }
    .comment-text{
        margin-left: 20px;
        .commenter-name{
            display: flex;
            align-items: center;
            gap: 5px;
            margin-bottom: 0.5rem;

            p:first-child{
                font-weight: bold;
                font-size: 14px;
            }
            p:nth-child(2){
                color: #606060;
            }
        }
        .actual-comment{
            margin-top: 5px;
            line-height: 1.25rem;
            word-spacing: 0.1rem;
        }
        .reaction{
            display: flex;
            align-items: center;
            gap:15px;
            margin-top: 10px;
            font-size: 14px;
            a{
                color: #606060;
                text-decoration: none;
                margin-top: 5px;
            }
            i{
                margin-right: 3px;
            }
        }
       .view-reply{
           margin-top: 5px;
           a{
            text-decoration: none;
            // margin-top: 5px;
           }
           
       }
    }
    .triple-dot{
        display: flex;
        flex-direction: column;
        gap: 3px;
        margin-top: 10px;
        margin-right: 20px;
        span{
            width: 3px;
            height: 3px;
            background-color: black;
            border-radius: 100px;
        }
    }
   
}

@media screen and (max-width:980px) {
    .comment{
        width: 90%;
    }
}

@media screen and (max-width : 600px) {
    .comment{
        margin-top: 30px;
        // border: 1px solid black;
        width: 100%;
        img{
            margin-left: 0px;
        }
        .comment-text{
            // margin-left: 0px;
            font-size: 12px;
            .actual-comment{
                width: 90%;
            }
            .view-reply{
                margin-top: 10px;
            }
        }
       
    }
}
