
<div class="comment">
    <img src="/assets/img/image.jpg" alt="" srcset="">
    <div class="comment-text">
        <div class="commenter-name">
            <p>temmoIRL</p>
            <p>10 months ago</p>
        </div>
        <div class="actual-comment">
            extremely straightforward and practical, much appreciated, and I'm sure my team will appreciate me not ruining the master and endless merge conflicts, memeing myself
        </div>
        <div class="reaction">
            <div><i class="fa fa-thumbs-o-up" aria-hidden="true" ></i>20</div>
            <div><i class="fa fa-thumbs-o-down" aria-hidden="true" ></i>0</div>
            <a href="#">REPLY</a>
        </div>
        <div class="view-reply">
            <a href="#">View reply</a>
        </div>
       
    </div>
    <div class="triple-dot">
        <span></span><span></span><span></span>
    </div>
</div>