@import "/src/_variables.scss";

.home-wrap{
    height: 100%;
    position: relative;
   
    .labels{
        position: fixed;
        top: 56px;
        height: 56px;
        background-color: white;
        display: flex;
        align-items: center;
        overflow: scroll;
        overflow-x: hidden;
        overflow-y: hidden;
        border-bottom: $content-background-secondary solid 1px;
        .label-item{
            background-color: $content-background-secondary;
            padding: 0.5rem 1rem;
            border-radius: 50px;
            font-size: 14px;
            margin: 0px 5px;
            border: 1px solid #cecece;
        }
    }
    .view-grid{
        margin-top: 100px;
        width: 100%;
        height: 100%;
        padding: 1rem 2rem;
        display: grid;
        grid-template-columns: auto auto auto auto;
        @media (max-width: 768px){
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}