<div class="home-wrap">
    <div class="labels">
        <div class="label-item">Lofi</div>
        <div class="label-item">Podcast</div>
        <div class="label-item">Anime</div>
        <div class="label-item">Sitcoms</div>
        <div class="label-item">Music</div>
        <div class="label-item">Debates</div>
        <div class="label-item">University</div>
      
        <div class="label-item">Lofi</div>
        <div class="label-item">Podcast</div>
        <div class="label-item">Anime</div>
        <div class="label-item">Sitcoms</div>
        <div class="label-item">Music</div>
        <div class="label-item">Debates</div>
        <div class="label-item">University</div>
    </div>

    <div class="view-grid">
        <home-card></home-card>
        <home-card></home-card>
        <home-card></home-card>
        <home-card></home-card>
        <home-card></home-card>
        <home-card></home-card>
        <home-card></home-card>
        <home-card></home-card>
        <home-card></home-card>
        <home-card></home-card>
    </div>
</div>