
<div class="explore">
<div class="top">
<div class="box">
    <div class="box1">
        <img class="imgg" src="assets/img/trending_color_64.png"  />
    </div>
    <div class="content">
        Trending
    </div>
</div>
<div class="box">
    <div class="box1">
        <img class="imgg" src="assets/img/music_color_64.png"  />
    </div>
    <div class="content">
        Music
    </div>
</div>
<div class="box">
    <div class="box1">
        <img class="imgg" src="assets/img/movies_color_64.png"  />
    </div>
    <div class="content">
        Movies
    </div>
</div>
<div class="box">
    <div class="box1">
        <img class="imgg" src="assets/img/live_color_64.png"  />
    </div>
    <div class="content">
        Live 
    </div>
</div>
<div class="box">
    <div class="box1">
        <img class="imgg" src="assets/img/gaming_color_64.png"  />
    </div>
    <div class="content">
        Gaming
    </div>
</div>
</div>
<div class="top">
    <div class="box">
        <div class="box1">
            <img class="imgg" src="assets/img/news_color_64.png"  />
        </div>
        <div class="content">
            News
        </div>
    </div>
    <div class="box">
        <div class="box1">
            <img class="imgg" src="assets/img/sports_color_64.png"  />
        </div>
        <div class="content">
            Sports
        </div>
    </div>
    <div class="box">
        <div class="box1">
            <img class="imgg" src="assets/img/learning_color_64_v1.png"  />
        </div>
        <div class="content">
            Learning
        </div>
    </div>
    <div class="box">
        <div class="box1">
            <img class="imgg" src="assets/img/fashion_and_beauty_color_64.png"  />
        </div>
        <div class="content">
            Fashion & Beauty 
        </div>
    </div>
    </div>
    <h4 class="trend">Trending videos</h4>
    <app-explore-list ></app-explore-list>
</div>   



