<div class="popup">
    <ul>
        <li> <i class="fa fa-bookmark" aria-hidden="true"></i><span>Add to queue</span> </li>
        <li><i class="fas fa-history"></i><span>Save to Watch later</span></li>
        <li> <i class="fa fa-bookmark" aria-hidden="true"></i><span>Save to playlist</span></li>
        <hr>
        <li><i class="fa fa-ban" aria-hidden="true"></i><span>Not interested</span></li>
        <li><i class="fas fa-stop-circle"></i><span>Don't recommend channel</span></li>
        <li><i class="fa fa-flag" aria-hidden="true"></i><span>Report</span></li>
    </ul>
</div>
