<div class="search-history">
    <div class="search-history-input">
        <i class="fas fa-search"></i>
        <input type="text" class="search-box" placeholder="Search watch History">
    </div>
</div>
<div class="history-type">
    <div class="history-type-head">
        <p>History Type</p>
    </div>
    <div class="history-type-item">
        <label for="watch">Watch History</label>
        <input id="watch" type="radio" name="type" checked>
    </div>
    <div class="history-type-item">
        <label for="comm">Community History</label>
        <input id="comm" type="radio" name="type">
    </div>
</div>
<div class="history-actions">
    <div class="history-actions-item">
        <p><i class="far fa-trash-alt"></i>Clear All Watch History</p>
    </div>
    <div class="history-actions-item">
        <p><i class="far fa-pause-circle"></i>Pause Watch History</p>
    </div>
    <div class="history-actions-item">
        <p><i class="fas fa-cog"></i>Manage All History</p>
    </div>
</div>