@import "/src/_variables";

.side-video{
    position: relative;
    
}
.video-card{
    display: flex;
    justify-content: space-around;
    width: 350px;
    font-size: $font-size;
   
    img{
        width: 200px;
        height: 100px;
    }
    .description{
        display: flex;
        flex-direction: column;
       
        width: 500px;
        margin-left: 10px;
        .title{
            font-weight: 500;
            padding-top: 10px;
            
        }
        .channel-name{
            margin-top: 10px;
            font-size: $font-size;
            color: $secondary;
        }

        .views-uploaded{
            display: flex;
            font-size: 13px;
            color: $secondary;
            margin-top: 5px;
            p:nth-child(2){
                margin-left: 5px;
            }
         
        }
    }
    .popup-display{
        position: absolute;
        top:0px;
        right: 0;
        z-index: 999;
        display: none;
       
    }
    .triple-dot{
        display: flex;
        flex-direction: column;
        gap: 3px;
        
        height: fit-content;
        width: 50px;
       
        span{
            width: 3px;
            height: 3px;
            background-color: black;
            border-radius: 100px;
        }
    }
    .triple-dot:hover .popup-display{
        cursor: pointer;
        display: block;
    }
}

@media screen and (max-width:980px) {
    .video-card{
        width: 100%;
        justify-content: space-between;
        margin-top: 20px;
        .description{
            margin-right: 50px;
            margin-left: 20px;
        
            width: 500px;
            // border: 1px solid black;
        }
    }
}
@media screen and (max-width:600px) {
    .video-card{
        width: 100%;
        // border: 1px solid black;
        justify-content: space-between;
        margin-top: 20px;
        .description{
            // margin-left: -10px;
            margin-right: 0px;
            margin-left: 20px;
            width: 100%;
        }
    }
}