<div class="side-video" >
    
<div class="video-card" >   
    <img src="/assets/img/image.jpg" alt="">
    <div class="description">
        <p class="title">Git & GitHub Tutorial</p>
        <p class="channel-name">Presidio</p>
        <div class="views-uploaded">
            <p>197K views</p>
            <p>4 years ago</p>
        </div>
    </div>
    <div class="triple-dot">
        <!-- (click)="onTrippleDotClick()" (mouseenter)="onhoverTrippleDot()" (mouseleave)="onLeaveTrippleDot()" -->
        <!-- *ngIf="isTripleDotClicked" -->
        <span></span><span></span><span></span>
        <div class="popup-display" >
            <app-popup></app-popup>
        </div>
    </div>
  
    

</div>
</div>
