

<div class="side-video" *ngIf="relatedVideo.snippet">
    
<div class="video-card" >   
    <img src="{{ relatedVideo.snippet.thumbnails.medium.url }}" alt="" routerLink="/playVideo/{{ relatedVideo.id.videoId }}">
    <div class="description">
        <a class="title" routerLink="/playVideo/{{ relatedVideo.id.videoId }}">{{ relatedVideo.snippet.title }}</a>
        <p class="channel-name">{{ relatedVideo.snippet.channelTitle }}</p>
        <div class="views-uploaded">
            <p>197K views</p>
            <p>4 years ago</p>
        </div>
    </div>
    <div class="triple-dot">
        <!-- (click)="onTrippleDotClick()" (mouseenter)="onhoverTrippleDot()" (mouseleave)="onLeaveTrippleDot()" -->
        <!-- *ngIf="isTripleDotClicked" -->
        <span></span><span></span><span></span>
        <div class="popup-display" >
            <app-popup></app-popup>
        </div>
    </div>
  
    

</div>
</div>
