<div id="container">
    <div id="header">
        <p><img class=" image-el" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Google_2015_logo.svg/1920px-Google_2015_logo.svg.png"></p>
        <h2 class="align-head">Sign in</h2>
        <h3 class="align-head">to continue to YouTube</h3>
        <div id="input-el">
            <input type="text" class="input" placeholder="Email or Phone" required="" autocomplete="off">
            <p class="blue">Forgot Email?</p>
        </div>
        <div id="desc">
            <p>Not your computer? Use Guest mode to sign in privately.</p>
            <p class="blue">Learn more</p>
        </div>
        <div class="next-el">
            <p class="blue">Sign-in with Google account</p>
            <button id="next-btn">Next</button>
        </div>
    </div>
    <div id="drop-down">
        <select name="lang" id="lang">
            <option value="english">English(United States)</option>
            <option value="tamil">தமிழ்</option>
            <option value="telugu">తెలుగు</option>
            <option value="kannada">ಕನ್ನಡ</option>
        </select>
        <div>
            <span class="span">Help</span>
            <span class="span">Privacy</span>
            <span class="span">Terms</span>
        </div>
    </div>
</div>