<div class="nav">TOP NAVBAR</div>
<div class="main">
  <div class="filter">FILTERS</div>
  <div class="h-line"></div>
  <div class="vid-elt">
    <div class="thumbnail">
      <img
        class="thumbnail-img"
        src="https://img.freepik.com/free-psd/editable-black-business-logo-psd-embossed-style_53876-123268.jpg?t=st=1648096912~exp=1648097512~hmac=4253f0d944703afc842f0d7521d833b66000e8dd3b66befd6e59e7b6d4d4643b&w=996"
        alt=""
      />
    </div>
    <div class="caption">
      <div class="title">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="detail">
        <p>211K views . 7 months ago</p>
      </div>
      <div class="channel">
        <img
          class="chn-img"
          src="https://img.freepik.com/free-psd/editable-black-business-logo-psd-embossed-style_53876-123268.jpg?t=st=1648096912~exp=1648097512~hmac=4253f0d944703afc842f0d7521d833b66000e8dd3b66befd6e59e7b6d4d4643b&w=996"
          alt=""
        />
        <p>Channel name</p>
      </div>
      <div class="description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed architecto
        nobis accusantium quia dolorem suscipit sapiente perspiciatis quas...
      </div>
    </div>
    <div class="pop-up-btn"><img src="https://charbase.com/images/glyph/10998" alt=""></div>
  </div>
  <div class="vid-elt">
    <div class="thumbnail">
      <img
        class="thumbnail-img"
        src="https://img.freepik.com/free-psd/editable-black-business-logo-psd-embossed-style_53876-123268.jpg?t=st=1648096912~exp=1648097512~hmac=4253f0d944703afc842f0d7521d833b66000e8dd3b66befd6e59e7b6d4d4643b&w=996"
        alt=""
      />
    </div>
    <div class="caption">
      <div class="title">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="detail">
        <p>211K views . 7 months ago</p>
      </div>
      <div class="channel">
        <img
          class="chn-img"
          src="https://img.freepik.com/free-psd/editable-black-business-logo-psd-embossed-style_53876-123268.jpg?t=st=1648096912~exp=1648097512~hmac=4253f0d944703afc842f0d7521d833b66000e8dd3b66befd6e59e7b6d4d4643b&w=996"
          alt=""
        />
        <p>Channel name</p>
      </div>
      <div class="description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed architecto
        nobis accusantium quia dolorem suscipit sapiente perspiciatis quas...
      </div>
    </div>
  </div>
  <div class="vid-elt">
    <div class="thumbnail">
      <img
        class="thumbnail-img"
        src="https://img.freepik.com/free-psd/editable-black-business-logo-psd-embossed-style_53876-123268.jpg?t=st=1648096912~exp=1648097512~hmac=4253f0d944703afc842f0d7521d833b66000e8dd3b66befd6e59e7b6d4d4643b&w=996"
        alt=""
      />
    </div>
    <div class="caption">
      <div class="title">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="detail">
        <p>211K views . 7 months ago</p>
      </div>
      <div class="channel">
        <img
          class="chn-img"
          src="https://img.freepik.com/free-psd/editable-black-business-logo-psd-embossed-style_53876-123268.jpg?t=st=1648096912~exp=1648097512~hmac=4253f0d944703afc842f0d7521d833b66000e8dd3b66befd6e59e7b6d4d4643b&w=996"
          alt=""
        />
        <p>Channel name</p>
      </div>
      <div class="description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed architecto
        nobis accusantium quia dolorem suscipit sapiente perspiciatis quas...
      </div>
    </div>
    <div></div>
  </div>
  <div class="vid-elt">
    <div class="thumbnail">
      <img
        class="thumbnail-img"
        src="https://img.freepik.com/free-psd/editable-black-business-logo-psd-embossed-style_53876-123268.jpg?t=st=1648096912~exp=1648097512~hmac=4253f0d944703afc842f0d7521d833b66000e8dd3b66befd6e59e7b6d4d4643b&w=996"
        alt=""
      />
    </div>
    <div class="caption">
      <div class="title">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="detail">
        <p>211K views . 7 months ago</p>
      </div>
      <div class="channel">
        <img
          class="chn-img"
          src="https://img.freepik.com/free-psd/editable-black-business-logo-psd-embossed-style_53876-123268.jpg?t=st=1648096912~exp=1648097512~hmac=4253f0d944703afc842f0d7521d833b66000e8dd3b66befd6e59e7b6d4d4643b&w=996"
          alt=""
        />
        <p>Channel name</p>
      </div>
      <div class="description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed architecto
        nobis accusantium quia dolorem suscipit sapiente perspiciatis quas...
      </div>
    </div>
  </div>
</div>
