@import url(../../../styles.scss);

@mixin display-column {
    display: flex;
    flex-direction: column;
  }
  @mixin display-row {
    display: flex;
    flex-direction: row;
  }

  .nav{
      width: 100vw;
      height: 40vh;
  }

.main{
    @include display-column();
    justify-content: center;
    margin-top: 70px;
    padding:10px 50px 10px 50px;
    width: 100%;
    font-family:'Roboto', sans-serif;
    background-color: #F9F9F9;
}
.filter{
    color: #606060;
    font-weight: 500;

}
.filter:hover{
    cursor: pointer;
}
.h-line { 
  width: 100%;
  height: 1px;
  background: #e5e5e5;
}


@media screen and (max-width: 800px) {
    .thumbnail{
        width: 50%;

    }
    .caption{
        width: 50%;
    }
    .title{
        font-size: 15px;
    }
    .thumbnail{
        img{
            width: 50vw;
        }
        
    }
    .detail{
        font-size: 10px;
    }
    .channel{
        .chn-img{
            height: 20px;
        }
    }
    .description{
        font-size: 10px;
    }
  }