<div class="flow-nav">
    <div class="google-item">
        <div class="acc-icon">
            <button class="menu-channel-icon">
                <img src="{{authService.authUser.url}}" class="acc_img" alt=""  >  
            </button>  
        </div>
        <div class="details">
            <div class="google-acc-name">{{authService.authUser.name}}</div>
            <div>
                <a>
                    <div class="manage-acc" >Manage your Google Account</div>
                </a>
            </div>
        </div>
    </div>

    <div class="line"></div>
    
    <a class="nav-item" >
        <div class="nav-icon"><i class="fas fa-user-circle"></i>    </div>
        <div class="nav-text">Your channel</div>
    </a>
    <a class="nav-item" >
        <div class="nav-icon"><i class="fas fa-usd-circle"></i></div>
        <div class="nav-text">Purchases and memberships</div>
    </a>
    <a class="nav-item" >
        <div class="nav-icon"><i class="fas fa-cog"></i></div>
        <div class="nav-text">YouTube Studio</div>
    </a>
    <a class="nav-item" >
        <div class="nav-icon"><i class="fas fa-file-user"></i></div>
        <div class="nav-text">Switch account</div>
    </a>
    <a class="nav-item" (click)="signOut()">
        <div class="nav-icon"><i class="fas fa-sign-out"></i></div>
        <div class="nav-text">Sign out</div>
    </a>
    
    <div class="line"></div>
    
    <a class="nav-item" >
        <div class="nav-icon"><i class="fas fa-moon"></i></div>
        <div class="nav-text">Appearance: Device theme</div>
    </a>
    <a class="nav-item" >
        <div class="nav-icon"><i class="fas fa-language"></i></div>
        <div class="nav-text">Language: English</div>
    </a>
    <a class="nav-item" >
        <div class="nav-icon"><i class="fas fa-globe"></i></div>
        <div class="nav-text">Location: India</div>
    </a>
    <a class="nav-item">
        <div class="nav-icon"><i class="fas fa-cog"></i></div>
        <div class="nav-text">Settings</div>
    </a>
    <a class="nav-item">
        <div class="nav-icon"><i class="fas fa-user-circle"></i></div>
        <div class="nav-text">Your data in YouTube</div>
    </a>
    <a class="nav-item" >
        <div class="nav-icon"><i class="fas fa-question-circle"></i></div>
        <div class="nav-text">Help</div>
    </a>
    <a class="nav-item">
        <div class="nav-icon"><i class="fas fa-comment-alt-exclamation"></i></div>
        <div class="nav-text">Send feedback</div>
    </a>
    <a class="nav-item" >
        <div class="nav-icon"><i class="fas fa-keyboard"></i></div>
        <div class="nav-text">Keyboard shortcuts</div>
    </a>
    <div class="line"></div>
    <a class="nav-item-mode" >
        
        <div class="nav-text">Restricted Mode: Off</div>
    </a>
</div>
