<!-- <div id="horizontal-line"></div> -->
<!-- +'?autoplay=1' -->
<div class="play-video">
    <div class="left-container">
        <div class="left-video image">
            <!-- <img src={{video.thumbnailsUrl}} alt="img" srcset="" /> -->
            <!-- <iframe [src]="video.iframeUrl | safe" frameborder="0"></iframe> -->
            <iframe *ngIf="video.iframeUrl" [src]="video.iframeUrl+'?autoplay=1' | safe" 
            title={{video.title}} frameborder="0" allow="accelerometer; autoplay *; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="video-description">
            <p class="video-title">{{video.title}}</p>
            <div class="views">
                <p>{{numberWithCommas(video.viewCount)}} views <span>•</span> <span> Sep 14,2020</span></p>
                <div class="likes">
                    <div class="tooltip"><i class="fal fa-thumbs-up"></i> {{formatCounts(video.likeCount)}}<div class="tooltiptext">i like this</div> 
                    </div>
                    <div class="tooltip"><i class="fal fa-thumbs-down"></i>DISLIKE <div class="tooltiptext">i dislike this</div> </div>
                    <div class="tooltip"> <i class="fal fa-share"></i> SHARE
                        <div class="tooltiptext">share</div> </div>
                    <div class="tooltip"><i class="fal fa-cut"></i> CLIP
                        <div class="tooltiptext">clip</div> </div>
                    <div class="tooltip">
                        <i class="fal fa-save"></i>SAVE
                        <div class="tooltiptext">save</div> 
                    </div>
                    <div>...</div>
                </div>
            </div>
        </div>

        <div class="channel-details">
            <div class="channel-info">
                <div class="channel-name">
                    <div class="image-wrap">
                        <img src={{video.thumbnailsUrl}} alt="">
                    </div>
                    <div class="subscribers">
                        <p>{{video.channelTitle}}</p>
                        <small>372 subscribers</small>
                    </div>
                </div>
                <button class="subs-btn" *ngIf="oauth.isAuthenticated" (click) = 'subscribe()'>SUBSCRIBE</button>
                <button class="subs-btn" *ngIf="!oauth.isAuthenticated" >
                    <div class="tooltip">
                        Subscribe
                        <div class="tooltiptext">Please Login</div> 
                    </div>
                </button>
            </div>
            <div class="channel-text" >
                <p [ngClass]="toggleDescription ? 'showAll' : '' " >{{video.description}}</p>
            </div>
            <p class="show-light" (click)="showAll()">SHOW {{toggleDescription ? 'LESS' : 'MORE'}}</p>
        </div>
        <div class="comment-section desktop-view">
            <div class="top-section">
                <div>{{comments.length}} Comments</div>
                <div class="sort-by">
                    <div class="span-tags">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <p>SORT BY</p>
                </div>
            </div>
            <form #snippet="ngForm"  novalidate (ngSubmit)="onSubmit(snippet)" class="comment-input">
                <div class="post-comment">
                    <img src="/assets/img/image.jpg" alt="img">
                    <input name="comment" type="text" [(ngModel)]="commentSnippet.textOriginal" placeholder="Add a Comment">
                </div>
                <div>
                    <button class="post-btn" type="submit" [disabled]="!oauth.isAuthenticated">Post</button>
                </div>
            </form>
            <div class="comments" *ngFor="let comment of comments">
                <app-comments [commentData]="comment?.snippet.topLevelComment" ></app-comments>
            </div>
        </div>

    </div>
    
   <div class="right-container" >
    <app-tags></app-tags>
    <div *ngFor="let relatedVideo of relatedVideos">
        <app-related-videos [relatedVideo]="relatedVideo" ></app-related-videos>
    </div>
   </div>
</div>

<div class="comment-section phone-view">
    <div class="top-section">
        <div>{{comments.length}} Comments</div>
        <div class="sort-by" >
            <div class="span-tags">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <p class="tooltip">SORT BY <span class="tooltiptext">sort comments</span></p>
        </div>
    </div>
    <div class="comment-input">
        <div class="post-comment">
            <!-- <div class="image"> -->
                <img src="/assets/img/image.jpg" alt="img">
            <!-- </div> -->
            <input type="text" placeholder="Add a Comment">
        </div>
        <div>
            <button class="post-btn">Post</button>
        </div>
    </div>
    <div class="comments" *ngFor="let comment of comments">
        <app-comments [commentData]="comment?.snippet.topLevelComment"></app-comments>
    </div>
</div>