@import "/src/_variables.scss";


// #horizontal-line {
//     height: 0px;
//     width: 2px;
//     margin-top: -20px;
//     border-bottom: 2px solid red;
//     -webkit-animation: increase 3s;
//     -moz-animation: increase 3s;
//     animation: increase 3s;
//     animation-fill-mode: forwards;
//     float: left;
//     position: fixed;
//     z-index: 1;
//   }
  
//   @keyframes increase {
//     80% {
//       width: 80%;
//       border-bottom: 2px solid red;
//     }
//     100%{
//         border-bottom: 2px solid red;
//         border: none;
//     }
//   }
  







// .loader{
//     width: 5px;
//     height: 1px;
//     background: red;
//     transition:  transform 2s;
//     transition-delay: 2s;
//     transform: scaleX(200)
// }

.play-video{
    margin: 56px 56px 0px 56px;
    // border-top: 2px solid red;
    display: flex;
    font-weight: normal;
    flex-direction: row;
    font-size: $font-size;
    padding: 1.5rem;
    justify-content: space-between;
    // flex-wrap: wrap;
    .left-container{
        width: 65%;
        height: fit-content;
        .image{
            
            width: 100%;
            height: 450px;
            
    
            iframe{
                width: 100%;
                height: 100%;
            }
        }
        .video-description{
            margin-top: 10px;
            height: 60px;
            .video-title{
                font-size: 18px;
                font-weight: 500;
                margin-top: 1rem;
            }
        }
        .views{
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 1rem;
            font-size: 14px;
            margin-bottom: 1rem;
            .likes{
                display: flex;
                width: 60%;
                font-size: 14px;
                font-weight: 400;
                justify-content: space-evenly;
                cursor: pointer;
                i{
                    margin-right: 5px;
                }

            }
        }

        .channel-details{
            width: 100%;
            height: 100%;
            margin-top: 3rem;

            padding-bottom: 40px;
            border-bottom: 1px solid #c0c0c0;
                height: 100%;
            }
            .channel-info{
                display: flex;
                justify-content: space-between;
                border-top: 1px solid #c0c0c0;
                padding-top: 1rem;
                .channel-name{
                    display: flex;
                    align-items: center;
                    color: $secondary;
                    font-weight: 600;
                    width: 40%;
                    .image-wrap{
                        width: 20%;
                        img{
                            width: 48px;
                            height: 48px;
                            border-radius: 100%;
                        }
                    }
                    .subscribers{
                        color: $primary;
                        margin-left: 10px;
                        p{
                            font-weight: 600;
                            font-size: 16px;
                        }
                        small{
                            color: $secondary;
                        }
                    }
                }
                .subs-btn{
                    margin-top: 0.5rem;
                    width: 100px;
                    height: 30px;
                    background-color: $red-color;
                    color: white;
                    border-color: $red-color;
                    border: none;
                    cursor: pointer;
                    border-radius: 5px;
                }
            }
        
            .channel-text{
                margin-top: 8px;
                font-size: 14px;
                line-height: 1.5rem;
                color: $primary;
                p{
                    height: 50px;
                    overflow: hidden;
                }
                .showAll{
                    height: 100%;
                }
               
        }
        
        .show-light{
            color: black;
            padding-top: 10px;
        }
        .show-light:hover{
            cursor: pointer;
        }
        .comment-section{
            margin-top: 20px;
            width: 100%;
            .top-section{
                display: flex;
                font-size: 16px;
              .sort-by{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 50px;
                p{
                       margin-left: 20px;
                }
                .span-tags{
                    width: 25px;
                    height: 20px;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    // border: 1px solid black;
                    span:first-child{
                        width: 20px;
                        height: 1px;
                        background-color: black;
                    }
                    span:nth-child(2){
                        width: 15px;
                        height: 1px;
                        // margin-top: 10px;
                        background-color: black;
                    }
                    span:last-child{
                        width: 10px;
                        height: 1px;
                        background-color: black;
                    }
                }
              }

              
                
            }
            .comment-input{
                display: flex;
                align-items: center;
                margin-top: 20px;
                img{
                    border-radius: 100%;
                    width: 40px;
                    height: 40px;
                }
                input{
                    width: 90%;
                    border: none;
                    border-bottom: 1px solid grey;
                    padding-bottom: 0.25rem;
                    margin-left: 20px;
                    outline: none;
                    background: transparent;
                }
                
            }
            .comments{
                display: flex;
                flex-direction: column;
                gap: 7px ;
            }
        }

    }
    .right-container{
       width: 33%;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 7px;
        margin-left: 10px;
        .pop-display{
            position: absolute;
        }
    }
}
.phone-view{
    display: none;
}


// .comment-section{
//     //
//     margin: 20px 56px;
//     margin-top: 50px;
//     // border: 1px solid green;
//     width: 60%;
//     .top-section{
//         display: flex;
//         align-items: center;
//       .sort-by{
//           display: flex;
//           justify-content: center;
//           align-items: center;
//            margin-left: 50px;
//         p{
//             margin-left: 20px;
//         }
//         .span-tags{
//             width: 25px;
//             height: 20px;
//             display: flex;
//             flex-direction: column;
//             gap: 5px;
//             // border: 1px solid black;
//             span:first-child{
//                 width: 20px;
//                 height: 1px;
//                 background-color: black;
//             }
//             span:nth-child(2){
//                 width: 15px;
//                 height: 1px;
//                 // margin-top: 10px;
//                 background-color: black;
//             }
//             span:last-child{
//                 width: 10px;
//                 height: 1px;
//                 background-color: black;
//             }
//         }
//       }
        
//     }
//     .comment-input{
//         display: flex;
//         align-items: center;
//         margin-top: 20px;
//         img{
//             border-radius: 100%;
//             width: 40px;
//             height: 40px;
//         }
//         input{
//             width: 90%;
//             border: none;
//             border-bottom: 1px solid grey;
//             // padding-left: 30px;
//             margin-left: 20px;
//             outline: none;
//         }
        
//     }
//     .comments{
//         display: flex;
//         flex-direction: column;
//         gap: 7px ;
//     }
// }

@media screen and (max-width:980px) {
    .play-video{
        flex-direction: column;
        flex-wrap: wrap-reverse;
        .left-container{
            width: 100%;
            .image{
                width: 100%;
            }
            .desktop-view{
                display: none;
            }
        }
        .right-container{
            width: 100%;
        }
    }
    .phone-view{
        display: block;
    }
   
        .comment-section{
            width: 100%;
            // margin-left: 50px;
            padding-left: 50px;
            // align-items: center;
            // border: 1px solid black;
            .comment-input{
                width: 85%;
            }
                margin-top: 20px;
                width: 100%;
                .top-section{
                    display: flex;
                    align-items: center;
                  .sort-by{
                      display: flex;
                      justify-content: center;
                      align-items: center;
                       margin-left: 50px;
                    p{
                        margin-left: 20px;
                    }
                    .span-tags{
                        width: 25px;
                        height: 20px;
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        // border: 1px solid black;
                        span:first-child{
                            width: 20px;
                            height: 1px;
                            background-color: black;
                        }
                        span:nth-child(2){
                            width: 15px;
                            height: 1px;
                            // margin-top: 10px;
                            background-color: black;
                        }
                        span:last-child{
                            width: 10px;
                            height: 1px;
                            background-color: black;
                        }
                    }
                  }
                    
                }
                .comment-input{
                    display: flex;
                    align-items: center;
                    margin-top: 20px;
                    img{
                        border-radius: 100%;
                        width: 40px;
                        height: 40px;
                    }
                    input{
                        width: 90%;
                        border: none;
                        border-bottom: 1px solid grey;
                        // padding-left: 30px;
                        margin-left: 20px;
                        outline: none;
                        background: transparent;
                    }
                    
                }
                .comments{
                    display: flex;
                    flex-direction: column;
                    gap: 7px ;
                }
            }
        
    }



@media screen and (max-width:600px) {
    .play-video{
        flex-direction: column;
        margin: 35px 23px;
        padding-top: 20px;
        // flex-wrap: wrap-reverse;
        .left-container{
            width: 100%;
            .image{
                height: 300px;
            }
            .video-description{
                margin-top: 20px;
            }
            .views{
                .likes{
                    width: 90%;
                }
                span{
                    display: none;
                }
            }
            .channel-details{
                .channel-info{
                    .channel-name{
                        .subscribers{
                            margin-left: 30px;
                        }
                    }
                }
                
                .channel-text{
                    width: 100%;
                    p:nth-child(2){
                        font-size: 10px;
                    }
                }
            }
        }
        
        .right-container{
            width: 100%;
        }
    }
    .comment-section{
        width: 95%;
        // margin: 0px 10px;
        padding-left: 10px;
        .comment-input{
            width: 85%;
        }

        margin-top: 20px;
            width: 100%;
            .top-section{
                display: flex;
                align-items: center;
              .sort-by{
                  display: flex;
                  justify-content: center;
                  align-items: center;
                   margin-left: 50px;
                p{
                    margin-left: 20px;
                }
                .span-tags{
                    width: 25px;
                    height: 20px;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    // border: 1px solid black;
                    span:first-child{
                        width: 20px;
                        height: 1px;
                        background-color: black;
                    }
                    span:nth-child(2){
                        width: 15px;
                        height: 1px;
                        // margin-top: 10px;
                        background-color: black;
                    }
                    span:last-child{
                        width: 10px;
                        height: 1px;
                        background-color: black;
                    }
                }
              }
                
            }
            .comment-input{
                display: flex;
                align-items: center;
                margin-top: 20px;
                img{
                    border-radius: 100%;
                    width: 40px;
                    height: 40px;
                }
                input{
                    width: 90%;
                    border: none;
                    border-bottom: 1px solid grey;
                    // padding-left: 30px;
                    margin-left: 20px;
                    outline: none;
                }
                
            }
            .comments{
                display: flex;
                flex-direction: column;
                gap: 7px ;
            }
        }

}

