<div id="horizontal-line"></div>

<div class="play-video">
    <div class="left-container">
        <div class="left-video image">
            <!-- <img src={{video.thumbnailsUrl}} alt="img" srcset="" /> -->
            <!-- <iframe [src]="video.iframeUrl | safe" frameborder="0"></iframe> -->
            <iframe  [src]="video.iframeUrl+'?autoplay=1' | safe" 
            title={{video.title}} frameborder="0" allow="accelerometer; autoplay *; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="video-description">
            <p class="video-title">{{video.title}}</p>
            <div class="views">
                <p>{{numberWithCommas(video.viewCount)}} views <span>•</span> <span> Sep 14,2020</span></p>
                <div class="likes">
                    <div class="tooltip"><i class="fal fa-thumbs-up"></i> {{formatCounts(video.likeCount)}}<div class="tooltiptext">i like this</div> 
                    </div>
                    <div class="tooltip"><i class="fal fa-thumbs-down"></i>DISLIKE <div class="tooltiptext">i dislike this</div> </div>
                    <div class="tooltip"> <i class="fal fa-share"></i> SHARE
                        <div class="tooltiptext">share</div> </div>
                    <div class="tooltip"><i class="fal fa-cut"></i> CLIP
                        <div class="tooltiptext">clip</div> </div>
                    <div class="tooltip"><i class="fal fa-save"></i>SAVE
                        <div class="tooltiptext">save</div> </div>
                    <div>...</div>
                </div>
            </div>
        </div>

        <div class="channel-details">
            <div class="channel-info">
                <div class="channel-name">
                    <img src="/assets/img/image.jpg" alt="">
                    <div class="subscribers">
                        <p>{{video.channelTitle}}</p>
                        <span>372 subscribers</span>
                    </div>
                </div>
            <button class="subs-btn">SUBSCRIBE</button>
            </div>
            <div class="channel-text" >
                <p [ngClass]="toggleDescription ? 'showAll' : '' " >{{video.description}}</p>
            </div>
            <p class="show-light" (click)="showAll()">SHOW {{toggleDescription ? 'LESS' : 'MORE'}}</p>
        </div>
        <div class="comment-section desktop-view">
            <div class="top-section">
                <div>63 Comments</div>
                <div class="sort-by">
                    <div class="span-tags">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <p>SORT BY</p>
                </div>
            </div>
            <div class="comment-input">
                <img src="/assets/img/image.jpg" alt="img">
                <input type="text" placeholder="Commenting publicly as Sam Raj AB">
            </div>
            <div class="comments" *ngFor="let item of array">
                <app-comments></app-comments>
            </div>
        </div>

    </div>
    
   <div class="right-container" >
    <app-tags></app-tags>
    <div *ngFor="let relatedVideo of relatedVideos">
        <app-related-videos [relatedVideo]="relatedVideo" ></app-related-videos>
    </div>
   </div>
</div>

<div class="comment-section phone-view">
    <div class="top-section">
        <div>63 Comments</div>
        <div class="sort-by" >
            <div class="span-tags">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <p class="tooltip">SORT BY <span class="tooltiptext">sort comments</span></p>
        </div>
    </div>
    <div class="comment-input">
        <img src="/assets/img/image.jpg" alt="img">
        <input type="text" placeholder="Commenting publicly as Sam Raj AB">
    </div>
    <div class="comments" *ngFor="let item of array">
        <app-comments></app-comments>
    </div>
</div>