<div id="horizontal-line"></div>

<div class="play-video">
    <div class="left-container">
        <div class="left-video image">
            <img src="/assets/img/image.jpg" alt="img" srcset="" />
        </div>
        <div class="video-description">
            <p class="video-title">How to use Git When working with a team?</p>
            <div class="views">
                <p>60,515 <span>views Sep 14,2020</span></p>
                <div class="likes">
                    <div class="tooltip"><i class="fa fa-thumbs-o-up" aria-hidden="true" ></i>  LIKE<div class="tooltiptext">i like this</div> 
                    </div>
                    <div class="tooltip"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i>DISLIKE <div class="tooltiptext">i dislike this</div> </div>
                    <div class="tooltip"> <i class="fa fa-share" aria-hidden="true"></i> SHARE
                        <div class="tooltiptext">share</div> </div>
                    <div class="tooltip"><i class="fa fa-scissors" aria-hidden="true"></i>CLIP
                        <div class="tooltiptext">clip</div> </div>
                    <div class="tooltip"><i class="fa fa-floppy-o" aria-hidden="true"></i>SAVE
                        <div class="tooltiptext">save</div> </div>
                    <div>...</div>
                </div>
            </div>
        </div>

        <div class="channel-details">
            <div class="channel-info">
                <div class="channel-name">
                    <img src="/assets/img/image.jpg" alt="">
                    <div class="subscribers">
                        <p>Ako Dev</p>
                        <span>372 subscribers</span>
                    </div>
                </div>
            <button class="subs-btn">SUBSCRIBE</button>
            </div>
            <div class="channel-text">
                <p>Hi all welcome to ako.dev! So you know git... now how do you use it when you work with a team for work or on a project? do you just use the same branch? Lets try and put a workflow together so it makes our lives easier!</p>

                <p class="show-light">SHOW MORE</p>
            </div>
        </div>

        <!-- <div class="comment-section">
            <div class="top-section">
                <div>63 Comments</div>
                <div class="sort-by">
                    <div class="span-tags">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <p>SORT BY</p>
                </div>
            </div>
            <div class="comment-input">
                <img src="/assets/img/image.jpg" alt="img">
                <input type="text" placeholder="Commenting publicly as Sam Raj AB">
            </div>
            <div class="comments" *ngFor="let item of array">
                <app-comments></app-comments>
            </div>
        </div>

    </div> -->
    
   </div>
   <div class="right-container" >
    <app-tags></app-tags>
    <div *ngFor="let item of array">
        <app-related-videos></app-related-videos>
    </div>
   </div>
</div>

<div class="comment-section">
    <div class="top-section">
        <div>63 Comments</div>
        <div class="sort-by" >
            <div class="span-tags">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <p class="tooltip">SORT BY <span class="tooltiptext">sort comments</span></p>
        </div>
    </div>
    <div class="comment-input">
        <img src="/assets/img/image.jpg" alt="img">
        <input type="text" placeholder="Commenting publicly as Sam Raj AB">
    </div>
    <div class="comments" *ngFor="let item of array">
        <app-comments></app-comments>
    </div>
</div>