.nav-wrap{
    width: 100%;
    height: 56px;
    background-color: white;
    border-bottom: 1px solid #eee;
    position: fixed;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;  
    justify-content: space-between;
}

.nav-item{
  display: flex;
  align-items: center;
}
.controls{
  width: 20%;
  justify-content: space-evenly;
  @media (max-width: 768px){
    width: 40%;
  }
}

.menu-icon{
  margin-left: 26px;
  padding: 1rem 0rem;
  font-size: 18px;
  cursor: pointer;
}
.youtube-logo
{
  margin-left: 26px;
  height: 80px;
  width: 120px;
}

.search{
  .search-icon{
    display: none;
  }
  @media (max-width: 768px){
    display: flex;
    justify-content: space-between;
    width: 0%;
    .search-icon{
      display: block;
      margin-right: 10px;
    }
  }
}
.search-bar {
    display: flex;
    height: 37px;
    margin-left:100px;    
    @media (max-width: 768px){
      display: none;
    }
}
    
.search-input {
  width: 550px;
  font-size: inherit;
  padding: .4em;
  border: 1px solid #777;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
    
.search-btn {
  display: flex;
  align-items: center;
  padding: 0 1.25rem;
  border: 1px solid #777;
  background-color: #F8F8F8;
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;
}
    
.search-btn:hover {
  background-color: #F0F0F0;
}
.mic-btn
{
    margin-left: 15px;
    border-radius: 50%;
    background: transparent;
    border: #777;    
    font-size:large;
}

.sign-in
{
    border: 1px solid rgb(41, 101, 233);
    color:rgb(41, 101, 233) ;
    padding: 10px;
    font-weight: bold;
    background-color: white;
    // width: 125px;
    cursor: pointer;
}
.menu-channel-icon{
      border-style: hidden;
      font-size: xx-large;
      background-color: white;
}
.popup{
          position:absolute;
          top: 0;
          right: 50px;
          display: none;
          z-index: 2;
}
.menu-channel-icon:hover .popup{
        display: block;
}

.acc_img{
  margin-top: 0.25rem;
  width: 30px;
  height: 30px;
  border-radius: 100%;
}
    
    
   
