<div class="nav-wrap">
    <div class="nav-item">
        <div class="menu-icon" (click)="extend()" ><i class="fas fa-bars"></i></div>
        <a href="#">
            <img src="assets/img/yt-logo.svg" alt="youtube-logo" class="youtube-logo"/>
        </a>
    </div>

    <div class="nav-item search">
        <form class="search-bar">
            <input class="search-input" type="search" placeholder="Search" aria-label="Search" />
            <button type="submit" class="search-btn">
                <i class="fas fa-search"></i>
            </button>        
        </form>
        <button  class="mic-btn">
        <i class="fas fa-microphone"></i>
        </button>
    </div>
      
     <!-- <div class="nav-item controls">
        <div><img src="assets/img/apps.svg" alt="Apps" /></div>
        <div><i class="fas fa-ellipsis-v"></i></div>
        <div>
            <button class="sign-in" >
                <i class="fas fa-user-circle"></i>
                SIGN IN
               </button>
        </div>
    </div> -->
  <div class="nav-item controls">
        <div><i class="fas fa-video-plus"></i></div>
        <div><img src="assets/img/apps.svg" alt="Apps" /></div>
        <div><i class="fas fa-bell"></i></div>
        <div>
            <button class="menu-channel-icon">
                <i class="fas fa-user-circle"></i>  
                <div class="popup">
                    <!-- POP-UP -->
                    <app-float-nav ></app-float-nav>
                </div>
            </button>    
        </div>

    </div>
</div>
