<header class="nav-wrap">
    <div class="menu-icon"><i class="fas fa-bars"></i></div>
    <a href="#">
        <img src="assets/img/logo.png" alt="Youtube Logo" class="Youtube_logo"/>
    </a>
    <form class="search-bar">
        <input class="search-input" type="search" placeholder="Search" aria-label="Search" />
        <button type="submit" class="search-btn">
            <i class="fal fa-search"></i>
        </button>
        
      </form>
      <button  class="mic-btn">
        <i class="fas fa-microphone"></i>
      </button>
      
         <nav >
            <ul>
                <li > <img src="assets/img/apps.svg" alt="Apps" /></li>
                <li><i class="fal fa-ellipsis-v"></i></li>
                <li> <button class="sign-in" >
                    <i class="fal fa-user-circle"></i>
                    SIGN IN
                </button>
            </li>
            </ul>
          </nav>
          
        
       
      
</header>
