<div class="ext-nav-wrap">
    <div class="header" (click)="withDraw()">
        <div class="menu-icon"  ><i class="fas fa-bars"></i></div>
        <a class="youtube-logo" routerLink="/home"><img src="assets/img/yt-logo.svg" class="logo" alt="logo"srcset=""></a>
    </div>
    <div class="flow-nav" (click)="withDraw()">
        <a class="nav-item" routerLink="/home">
            <div class="nav-icon"><i class="fas fa-home"></i></div>
            <div class="nav-text">Home</div>
        </a>
        <a class="nav-item" routerLink="/home">
            <div class="nav-icon"><i class="fas fa-compass"></i></div>
            <div class="nav-text">Explore</div>
        </a>
        <a class="nav-item" routerLink="/history">
            <div class="nav-icon"><i class="fas fa-clock"></i></div>
            <div class="nav-text">History</div>
        </a>
        <a class="nav-item" routerLink="/library">
            <div class="nav-icon"><i class="fas fa-photo-video"></i></div>
            <div class="nav-text">Library</div>
        </a>
        
        <div class="line"></div>
        
        <a class="nav-item" routerLink="/home">
            <div class="nav-icon"><i class="fas fa-video"></i></div>
            <div class="nav-text">Your Videos</div>
        </a>
        <a class="nav-item" routerLink="/home">
            <div class="nav-icon"><i class="fas fa-business-time"></i></div>
            <div class="nav-text">Watch Later</div>
        </a>
        <a class="nav-item" routerLink="/library">
            <div class="nav-icon"><i class="fas fa-photo-video"></i></div>
            <div class="nav-text">Subscriptions</div>
        </a>
        <a class="nav-item" routerLink="/history">
            <div class="nav-icon"><i class="fas fa-thumbs-up"></i></div>
            <div class="nav-text">Liked Videos</div>
        </a>
        
        <div class="line" *ngIf="authService.isAuthenticated"></div>
        
        <div class="title" *ngIf="authService.isAuthenticated">SUBSCRIPTIONS</div>

        <div *ngIf="authService.isAuthenticated">   
            <a  *ngFor="let sub of subsService.subscriptions" class="nav-item" routerLink="/home">
                <div class="nav-icon"><img src="{{sub.snippet.thumbnails.default.url}}" class="sub-img" alt=""></div>
                <div class="nav-text">{{sub.snippet.title}}</div>
            </a>
        </div>
        
        <div class="line"></div>
        
        <div class="title">MORE FROM YOUTUBE</div>
 
        <a class="nav-item" routerLink="/home">
            <div class="nav-icon"><i class="fas fa-cog"></i></div>
            <div class="nav-text">Settings</div>
        </a>
        <a class="nav-item" routerLink="/home">
            <div class="nav-icon"><i class="fas fa-flag"></i></div>
            <div class="nav-text">Report History</div>
        </a>
        <a class="nav-item" routerLink="/library">
            <div class="nav-icon"><i class="fas fa-question"></i></div>
            <div class="nav-text">Help</div>
        </a>
        <a class="nav-item" routerLink="/history">
            <div class="nav-icon"><i class="far fa-sticky-note"></i></div>
            <div class="nav-text">Feedback</div>
        </a>
    </div>
</div>