<div class="ext-nav-wrap">
    <div class="header" (click)="withDraw()">
        <div class="menu-icon"  ><i class="fas fa-bars"></i></div>
        <a class="youtube-logo" routerLink="/home"><img src="assets/img/yt-logo.svg" class="logo" alt="logo"srcset=""></a>
    </div>
    <div class="flow-nav" (click)="withDraw()">
        <a class="nav-item" routerLink="/home">
            <div class="nav-icon"><i class="fas fa-home"></i></div>
            <div class="nav-text">Home</div>
        </a>
        <a class="nav-item" routerLink="/home">
            <div class="nav-icon"><i class="fas fa-compass"></i></div>
            <div class="nav-text">Explore</div>
        </a>
        <a class="nav-item" routerLink="/history">
            <div class="nav-icon"><i class="fas fa-clock"></i></div>
            <div class="nav-text">History</div>
        </a>
        <a class="nav-item" routerLink="/library">
            <div class="nav-icon"><i class="fas fa-photo-video"></i></div>
            <div class="nav-text">Library</div>
        </a>
        
        <div class="line"></div>
        
        <a class="nav-item" routerLink="/home">
            <div class="nav-icon"><i class="fas fa-video"></i></div>
            <div class="nav-text">Your Videos</div>
        </a>
        <a class="nav-item" routerLink="/home">
            <div class="nav-icon"><i class="fas fa-business-time"></i></div>
            <div class="nav-text">Watch Later</div>
        </a>
        <a class="nav-item" routerLink="/library">
            <div class="nav-icon"><i class="fas fa-photo-video"></i></div>
            <div class="nav-text">Subscriptions</div>
        </a>
        <a class="nav-item" routerLink="/history">
            <div class="nav-icon"><i class="fas fa-thumbs-up"></i></div>
            <div class="nav-text">Liked Videos</div>
        </a>
        
        <div class="line"></div>
        
        <div class="title">SUBSCRIPTIONS</div>
        
        <a class="nav-item" routerLink="/home">
            <div class="nav-icon"><i class="fas fa-home"></i></div>
            <div class="nav-text">Your Videos</div>
        </a>
        <a class="nav-item" routerLink="/home">
            <div class="nav-icon"><i class="fas fa-compass"></i></div>
            <div class="nav-text">Watch Later</div>
        </a>
        <a class="nav-item" routerLink="/library">
            <div class="nav-icon"><i class="fas fa-photo-video"></i></div>
            <div class="nav-text">Subscriptions</div>
        </a>
        <a class="nav-item" routerLink="/history">
            <div class="nav-icon"><i class="fas fa-home"></i></div>
            <div class="nav-text">Liked Videos</div>
        </a>
        <a class="nav-item" routerLink="/library">
            <div class="nav-icon"><i class="fas fa-photo-video"></i></div>
            <div class="nav-text">Subscriptions</div>
        </a>
        <a class="nav-item" routerLink="/history">
            <div class="nav-icon"><i class="fas fa-home"></i></div>
            <div class="nav-text">Liked Videos</div>
        </a>
    </div>
</div>