@import "/src/_variables.scss";
.ext-nav-wrap{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: white;
    width: 0px;
    height: 100%;
    transition: 0.25s;
    overflow: hidden;
    .header{
        display: flex;
        padding-left: 26px;
        align-items: center;
        height: 56px;        
        .menu-icon{
            padding: 1rem 0rem;
            font-size: 18px;
            cursor: pointer;
        }

        .logo{
            padding-left: 26px;
            height: 80px;
        }
    }

    .flow-nav{
        overflow-y: scroll;
        height: 100%;
        
        .title{
            margin-left: 26px;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
            font-size: 14px;
            color: $secondary;
            font-weight: 600;
        }
    }

}

.extend{
    width: 240px;
}

.withdraw{
    width: 0px;
}

.nav-item{
    display: flex;
    width: 100%;
    padding: 0.75rem 0rem;
    padding-left: 26px;

    .nav-icon{
        font-size: 18px;
    }
    .nav-text{
        padding-left: 26px;
        font-size: 15px;
        color: $secondary;
    }
}


.line{
    border-bottom: 1px solid $content-background-secondary;
    margin: 5px 0px;
}

.nav-item:hover{
    cursor: pointer;
    background-color: $content-background-secondary;
}
