<div class="history-item" *ngIf="!isLoading; else loading">
    <div class="history-item-thumbnail">
        <img src={{video_dis.thumbnail}} alt="thumbnail" routerLink="/playVideo/{{ video_dis.id }}">
    </div>
    <div class="icons">
        <div class="tooltip">
            <i class="fas fa-times"></i>
            <div class="tooltiptext">Remove From Watch history</div> 
        </div>
        <div class="dropdown-container">
            <i class="fas fa-ellipsis-v dropdown-menu" ></i>
            <div class="dropdown">
                <app-menu-dropdown></app-menu-dropdown>
            </div>
        </div>
    </div>
    <div class="history-item-info">
        <div class="history-item-title">
            <p>{{video_dis.title}}</p>
        </div>
        <div class="history-item-author-views">
            <div class="history-item-author">
                <p>{{video_dis.channelName}}</p>
            </div>
            <div class="seperator">
                <p>•</p>
            </div>
            <div class="history-item-views">
                <p>{{ formatViews(video_dis.viewCount) }} views</p>
            </div>
        </div>
        <div class="history-item-description">
            <p>{{video_dis.description}}</p>
        </div>
    </div>
</div>
<ng-template #loading>
    <div class="history-item is-loading">
        <div class="history-item-thumbnail">
        </div>
        <div class="history-item-info">
        </div>
    </div>
</ng-template>
