@import '/src/_variables.scss';

.history-item{
    display: flex;
    padding: 10px 0;
    font-size: 14px;
    gap: 10px;
    cursor: pointer;
    position: relative;
    .icons{
        position: absolute;
        right: 0;
        top: 10px;
        font-size: 14px;
        background-color: $content-background;
        z-index: 100;
        display: none;
        i{
            margin-right: 40px;
            cursor: pointer;
            color: $primary;
        }
        .dropdown-menu{
            margin-right: 0;
        }
        .dropdown-container:hover .dropdown{
            visibility: visible;
        }
        .dropdown{
            position:absolute;
            top: 0;
            right: 0px;
            visibility: hidden;
        }
    }
    &:hover{
        .icons{
            display: flex;
        }
    }
    .history-item-thumbnail{
        img{
            width: 246px;
            height: 138px;
        }
    }
    .history-item-info{
        .history-item-title p{
            font-size: 16px;
            font-weight: 400;
            color: $primary;
            width: 70%;
            overflow: hidden;
            max-height: 40px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;    
        }
        p{
            font-size: 12px;
            font-weight: 400;
            color: $secondary;
            margin-bottom: 8px;
        }
        .history-item-author-views{
            display: flex;
            .history-item-views,.seperator{
                margin-left: 5px;
            }
        }
        .history-item-description{
            p{
                max-height: 40px;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;                             
            }
        }
    }
    @media (max-width: 768px){
        &:hover{
            .icons{
                display: none;
            }
        }
      
        .history-item-description{
            display: none;            
        }
        .history-item-info{
            .history-item-title p{
                font-size: 14px;
                width: 100%;
            }
            p{
                font-size: 12px;
            }
            .history-item-author-views{            
                flex-direction: column;
                .seperator{
                    display: none;
                }
                .history-item-views{
                    margin-left: 0;
                }
            }
        }
    }
}
.history-item.is-loading{
    .history-item-thumbnail,.history-item-info{
        background: #eee;
        background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
        border-radius: 5px;
        background-size: 200% 100%;
        animation: 1.5s shine linear infinite;
    } 
    .history-item-thumbnail{
        width: 420px;
        height: 138px;
    }
    .history-item-info{
        height: 110px;
        width: 100%;
    }   
    @keyframes shine {
        to {
            background-position-x: -200%;
        }
    }   
}

.tooltip{
    .tooltiptext{
        width: 180px;
        border-radius: 5px;
        margin-top: 10px;
        left: -50px;
    }
}