<div class="history-item">
    <div class="history-item-thumbnail">
        <img src="https://i.ytimg.com/vi/Qzc_aX8c8g4/hqdefault.jpg?sqp=-oaymwEcCPYBEIoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLD9AZSI09Ln31daik8p8wiy2qkBRA" alt="thumbnail">
    </div>
    <div class="icons">
        <i class="fal fa-times"></i>
        <i class="fal fa-ellipsis-v"></i>
    </div>
    <div class="history-item-info">
        <div class="history-item-title">
            <p>The Lion King</p>
        </div>
        <div class="history-item-author-views">
            <div class="history-item-author">
                <p>Lion King</p>
            </div>
            <div class="seperator">
                <p>•</p>
            </div>
            <div class="history-item-views">
                <p>{{ formatViews(1000000) }} views</p>
            </div>
        </div>
        <div class="history-item-description">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde nostrum, earum, voluptatum sint voluptas ipsum quidem tempora hic sunt consequuntur, dicta animi dolor commodi ea. Distinctio cum blanditiis dolore ducimus?</p>
        </div>
    </div>
</div>
