@import '/src/_variables.scss';

.history{
    padding-left: 20px;
    .watch-history{
        display: flex;
        position: relative;
        padding-top: 56px;
        .history-list{
            width: calc(100% - 425px);
            background-color: $content-background;
            padding: 20px 80px 20px 80px;
            .header .title{
                p{
                    font-size: 20px;
                    font-weight: bold;
                    color: $primary;
                }
            }
            .day p{
                font-size: 20px;
                font-weight: 400;
                color: $primary;
                padding: 16px 0;
                line-height: 2.2rem;
            }
        }
        .history-filters{
            padding:0 30px 30px 30px;
            position: fixed;
            right: 0;
            width: 425px;
            background-color: $content-background-secondary;
            height: 100%;
        }        
        @media (max-width: 768px){
            flex-direction: column-reverse;
            .history-list{
                width: 100%;
                padding: 20px;
            }
            .history-filters{
                width: 100%;
                position: unset;
            }
        }
        
    }
}