<div class="home-popup-wrap">
    <div class="nav-item">
        <div class="nav-icon"><i class="fas fa-step-forward"></i></div>
        <div class="nav-text">Add to queues</div>
    </div>
    <div class="nav-item">
        <div class="nav-icon"><i class="fas fa-history"></i></div>
        <div class="nav-text">Save to watch later</div>
    </div>
    <div class="nav-item">
        <div class="nav-icon"><i class="fas fa-save"></i></div>
        <div class="nav-text">Save to Playlist</div>
    </div>
    <div class="underline-1"></div>
    <div class="nav-item">
        <div class="nav-icon"><i class="fas fa-flag"></i></div>
        <div class="nav-text">Report</div>
    </div>
</div>
